@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:ital,wght@0,400;0,500;0,700;0,800;1,400;1,500;1,700;1,800&display=swap');

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

html { 
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 2;
  color: #5e493a;
  overflow-x: hidden;
  background: #130d08 url(../images/wood_1.jpg) repeat;
}
body.fh5co-overflow {
  overflow-x: auto;
}

a {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

h1, h4, h5, h6 {
  font-family: 'DM Serif Display', serif;
    color: #000;
}

h2 {
  font-family: 'Poppins', sans-serif;
}

p {
  margin-bottom: 25px;
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.btn-md {
  padding: 10px 20px !important;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

/*
 * Flexslider
 */
#fh5co-home .flexslider {
  border: none;
  position: relative;
  z-index: 1;
  margin-bottom: 0;
}
#fh5co-home .flexslider .fh5co-text {
  position: absolute;
  z-index: 3;
  width: 100%;
  top: 50%;
  margin-top: -212px;
  text-align: center;
}
#fh5co-home .flexslider .fh5co-text {
  /*margin: 0;
  padding: 0;*/
  font-family: 'Poppins', sans-serif;
  font-size: 300px;
  font-weight: 700;
  font-style: italic;
  color: #fff;
}

@media screen and (min-width: 900px) {
  #fh5co-home .flexslider .fh5co-text h1 {
    font-size: 80px;
    margin-bottom: 0;
  }
}
#fh5co-home .flexslider .fh5co-text h2 {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 40px;
  letter-spacing: 2px;
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  #fh5co-home .flexslider .fh5co-text h2 {
    font-size: 20px;
    margin-bottom: 0;
  }
}
#fh5co-home .flexslider .fh5co-text h2 span {
  font-family: 'Poppins', sans-serif;
    font-style: italic;
  text-transform: none;
}

#fh5co-home .flexslider .slides li {
  background-repeat: no-repeat;
  background-size: cover;
}

#fh5co-home .flexslider .flex-control-nav,
#fh5co-home .flexslider .flex-direction-nav {
  display: none;
}

#fh5co-about {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  background: #e6e6e6;
  width: 80%;
  height: 570px;
  border-radius:0px;
  margin-left: auto;
  margin-right: auto;
}

#video-intro {
  width: 100%;
  height: 850px;
  padding-top: 50px;
}


@media screen and (max-width: 1200px) {
  #fh5co-about .fh5co-2col {
    width: 100%;
  }
}
#fh5co-about .fh5co-text {
  padding: 2em 6em;
  text-align: left;
}


#fh5co-about .fh5co-text .btn {
  color: #fff;
}

#fh5co-about .fh5co-text p {
  line-height: 2;
  color: #a99c92;
}

#fh5co-sayings {
  padding: 6em 0;
  background: white;
}

#fh5co-sayings .flexslider .slides li {
  font-size: 40px;
 line-height: 1.5em;
}
#fh5co-sayings .flexslider .slides li blockquote {
  padding-left: 0;
  border-left: none;

}

@media screen and (max-width: 768px) {
  #fh5co-sayings .flexslider .slides li blockquote {
    padding: 0 20px;
  }
}

#fh5co-sayings .flexslider .slides li blockquote p {
  font-size: 22px;
  line-height: 1.5;
  font-family: 'DM Serif Display', serif;
}
@media screen and (max-width: 768px) {
  #fh5co-sayings .flexslider .slides li blockquote p {
    font-size: 13px;
    line-height: 1.5;
  }
}
#fh5co-sayings .flexslider .slides li blockquote p.quote-author {
  font-size: 20px;
  color: gray;
}
@media screen and (max-width: 768px) {
  #fh5co-sayings .flexslider .slides li blockquote p.quote-author {
    font-size: 13px;
  }
}

#fh5co-featured {
  padding-top: 100px;
  height: 760px;

}
@media screen and (max-width: 768px) {
  #fh5co-featured {
    padding: 5em 0;
  }
}

#fh5co-container {
  position: relative;
  z-index: 10;
}

#fh5co-footer {
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  padding: 7em 0;
  z-index: 1;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 768px) {
  #fh5co-footer {
    padding: 5em 0;
  }
}
@media screen and (max-width: 480px) {
  #fh5co-footer {
    height: inherit;
    position: relative;
  }
}

#fh5co-container, #fh5co-footer {
  z-index: 2;
  position: relative;
}

@media screen and (max-width: 768px) {
  #fh5co-container, #fh5co-footer {
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }
}

#fh5co-type > .fh5co-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9;
}
#fh5co-type > .container {
  z-index: 10;
  position: relative;
}
#fh5co-type .fh5co-type {
  float: left;
  width: 100%;
  text-align: center;
}

#fh5co-type p {
  color: rgba(255, 255, 255, 0.7);
}

.row-padded {
  padding-bottom: 0px;
}

h1 {
  font-size: 80px;
  font-family: 'DM Serif Display', serif;
      color: #ffff;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

h2 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    line-height: 100px;
    color: white;
}

iframe {
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}


.description-meal {
  display:flex;
  justify-content: space-between;
}

.description-meal iframe {
  width: 400px; 
  height: 389px;
}

.description-meal p {
  color: #a99c92;
  font-size: 15px;
}

#video-intro {
  border-radius: 0px;
}

#desc1, #desc2{
  width: 30%;
}

#desc1 {
  text-align: left;
}

#desc2 {
  text-align: right;
}

.buttons {
  display: flex;
  width: 400px;
  gap: 10px;
  --b: 3px;   /* the border thickness */
  --h: 2em; /* the height */
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;

}

.buttons button {
  --_c:white;
  flex: calc(0.60 + var(--_s,0));
  min-width: 0;
  font-size: 22px;
  height: var(--h);
  cursor: pointer;
  color: var(--_c);
  border: var(--b) solid var(--_c);
  background:
    conic-gradient(at calc(100% - 1.3*var(--b)) 0,var(--_c) 209deg, #0000 211deg)
    border-box;
  clip-path: polygon(0 0,100% 0,calc(100% - 0.577*var(--h)) 100%,0 100%);
  padding: 0 calc(0.288*var(--h)) 0 0;
  margin: 0 calc(-0.288*var(--h)) 0 0;
  box-sizing: border-box;
  transition: flex .3s;
}
.buttons button + button {
  --_c: white;
  flex: calc(1 + var(--_s,0));
  background:
    conic-gradient(from -90deg at calc(1.3*var(--b)) 100%,var(--_c) 119deg, #0000 121deg)
    border-box;
  clip-path: polygon(calc(0.577*var(--h)) 0,100% 0,100% 100%,0 100%);
  margin: 0 0 0 calc(-0.288*var(--h));
  padding: 0 0 0 calc(0.288*var(--h));
}
.buttons button:focus-visible {
  outline-offset: calc(-2*var(--b));
  outline: calc(var(--b)/2) solid #000;
  background: none;
  clip-path: none;
  margin: 0;
  padding: 0;
}
.buttons button:focus-visible + button {
  background: none;
  clip-path: none;
  margin: 0;
  padding: 0;
}
.buttons button:has(+ button:focus-visible) {
  background: none;
  clip-path: none;
  margin: 0;
  padding: 0;
}
button:hover,
button:active:not(:focus-visible) {
  --_s: .75;
}
button:active {
  box-shadow: inset 0 0 0 100vmax var(--_c);
  color: #fff;
}

#frise-chrono {
  border-radius: 0px;
}

#video-intro p {
  margin-top: 50px;
  color: #a99c92;
  margin-left: 5em;
  padding-right: 4em;
}

.choix  {
  display: flex;
  width: 700px;
  gap: 10px;
  --b: 2px;   /* the border thickness */
  --h: 3em; /* the height */
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}


.choix button {
  --_c:white;
  flex: calc(0.90 + var(--_s,0));
  font-size: 18px;
  height: var(--h);
  cursor: pointer;
  color: var(--_c);
  border: var(--b) solid var(--_c);
  background:
    conic-gradient(at calc(100% - 1.3*var(--b)) 0,var(--_c) 209deg, #0000 211deg)
    border-box;
  clip-path: polygon(0 0,100% 0,calc(100% - 0.577*var(--h)) 100%,0 100%);
  padding: 0 calc(0.288*var(--h)) 0 0;
  margin: 0 calc(-0.288*var(--h)) 0 0;
  box-sizing: border-box;
  transition: flex .4s;
}
.choix button + button {
  --_c: white;
  flex: calc(1 + var(--_s,0));
  background:
    conic-gradient(from -90deg at calc(1.3*var(--b)) 100%,var(--_c) 119deg)
    border-box;
  clip-path: polygon(calc(0.577*var(--h)) 0,100% 0,100% 100%,0 100%);
  margin: 0 0 0 calc(-0.288*var(--h));
  padding: 0 0 0 calc(0.288*var(--h));
}
.choix button:focus-visible {
  outline-offset: calc(-2*var(--b));
  outline: calc(var(--b)/2);
  background: none;
  clip-path: none;
  margin: 0;
  padding: 0;
}
.choix button:focus-visible + button {
  background: none;
  clip-path: none;
  margin: 0;
  padding: 0;
}
.choix button:has(+ button:focus-visible) {
  background: none;
  clip-path: none;
  margin: 0;
  padding: 0;
}

.mfp-hide {
  display: none!important;
}
.test {
  padding: 20px 40px;
  border-color: #f3f3f3;
  font-size: 17px;
  font-size: 1.7rem;
  font-family: 'Poppins', sans-serif;
    font-weight: 500;
  margin-top: 40px;
  display: inline-block;
}
.test {
  border: 2px solid #fff;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.15s ease-in-out;
}
.test .fa {
  margin-left: 20px;
}
.test:hover {
  background-color: rgba(0,0,0,0.7);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

.btn {
  position: relative;
  cursor: pointer;

}

.btn .play {
  position: relative;
  width: 300px;
  height: 50px;
  background: #222;
  border: 1px solid white;
  transition: 0.3s;
  text-align: center;
  line-height: 50px;
}

.btn.active .play {
  box-shadow: 0 0 0 150vh #130d08;
  opacity: 99%;
  z-index: 100;
}

.clip {
  position: fixed;
  background: #130d08;
  opacity: 99%;
  top: 50%;
  transform : translate(50%, 50%) scale(0);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: 0.3s;
}

.clip.active {
  transition-delay: 0.5s;
 transform : translate(5%, -50%) scale(1);
 box-shadow: 0 0 0 150vh #130d08;
 opacity: 99%;
}

#docu-entier {
  max-width: 900px;
  max-height: 900px;
}

.clip .close {
  position: relative;
  color: white;
  top: -230px;
  font-weight: 200;
  right: 100px;
  cursor: pointer;
  font-size: 50px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

#video-milmeyon {
  width: 100%;
  height: 800px;
  padding-top: 50px;
  border-radius: 0px;
}

#video-buddae {
  width: 100%;
  height: 800px;
  padding-top: 50px;
  border-radius: 0px;
}

#next {
  position: relative;
  float: right;
  bottom: 330px;
  width: 60px;
  height: 60px;
}
#mySidebar a{
  color:white;
  display: block;
}
#mySidebar{
width: 15%;
}


#mySidebar a:hover {
  background-color: #555;
  color: white;
}
#openNav {
    position: fixed;
    height: 40px;
    z-index: 10;
    width: 40px;
}

#langues {
  background-repeat: repeat;
}


#langues ul {
  overflow-x:hidden;
   white-space:nowrap;
     margin-bottom: 0px;
}

#langues li {
   display:inline;
   float: right;
   margin-left: 0px;
   color: white;

}

#map {
  border-radius: 0px;
}
 
.flex-viewport {
 height: 300px;
}

#about-us {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  color: #a99c92;
  
}

#about-us h2 {
  text-align: center;
  
}

.logo {
  width: 100px;
  height: 100px;
  margin-left: 20px;
  margin-right: 20px;
}

#autre-plat {
  flex-wrap: wrap;
  background: white;
  padding-bottom: 100px;
}

#autre-plat h3 {
  color: black;
  text-align: center;
  padding: 0;
  margin-top: 50px;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 40px;
  margin-bottom: 0;
}

#autre-plat h4 {
  color: black;
  text-align: center;
  padding: 0;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 30px;
  margin-bottom: 0;
}

#fiche-technique {
  margin-left: 35%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  position: relative;
  height: 350px;
  width: 100%;
  max-width: 850px;
  margin: auto;
  margin-top : 50px;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 10px 0 50px rgba(0, 0, 0, 0.5);
}

.card .inner_part {
  display: flex;
  align-items: center;
  padding: 0 0 0 30px;
  height: 350px;
  position: absolute;
}

#slideImg:checked ~ .inner_part {
  padding: 0;
  transition: .1s ease-in;
}

.inner_part .img {
  height: 260px;
  width: 260px;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 20px;
  box-shadow: 0 10px 50px rgba(0,0,0,0.2);
}

#slideImg:checked ~ .inner_part .img {
 height: 350px;
 width: 850px;
 z-index: 99;
 transition: .3s .2s ease-in;
}

.img img {
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
  transition: .6s;
}

#slide_1:checked ~ .inner_part .img_1,
#slide_2:checked ~ .inner_part .img_2,
#slide_3:checked ~ .inner_part .img_3 {
  opacity: 1;
  transition-delay: .2s;
}

.content {
  padding: 0 20px 0 35px;
  width: 530px;
  margin-left: 50px;
  opacity: 0;
  transition: .6s; 
}

#slideImg:checked ~ .inner_part .content {
  display: none;
}

#slide_1:checked ~ .inner_part .content_1,
#slide_2:checked ~ .inner_part .content_2,
#slide_3:checked ~ .inner_part .content_3 {
  opacity: 1;
  margin-left: 0;
  z-index: 100;
  transition-delay: .3s;
}

.content .title {
  font-size: 30px;
  font-weight: 700;
  color: #0d0925;
  margin: 0 0 20px 0;
}

.content .text {
  font-size: 15px;
  color: #4e4a67;
  margin: 0 auto 30px auto;
  line-height: 1.5em;
  text-align: justify;
}

.content button {
  padding: 15px 20px;
  border: none;
  font-size: 16px;
  color: #fff0e6;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  background: #000000;
  float: right;
}

.content button:hover {
  background: #cecece;
  color: #000000;
}

.slider {
  position: absolute;
  bottom: 25px;
  left: 55%;
  transform: translateX(-50%);
  z-index: 1;
}

#slideImg:checked ~ .slider {
  display: none;
}

.slider .slide {
  position: relative;
  height: 10px;
  width: 50px;
  background: #d9d9d9;
  border-radius: 5px;
  display: inline-flex;
  margin: 0 3px;
  cursor: pointer;
}


.slider .slide:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: -100%;
  background: #000000;;
  border-radius: 10px;
  transform: scaleX(0);
  transition: transform .6s;
  transform-origin: left;
}

#slide_1:checked ~ .slider .slide_1:before,
#slide_2:checked ~ .slider .slide_2:before,
#slide_3:checked ~ .slider .slide_3:before {
  transform: scaleX(1);
  width: 100%;
}

input {
  display: none;
}

.hidden {
  display: none;
}

#mask {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;

}

#modal {
  background: #fff;
  width: 90%;
  padding: 24px;
  border-radius: 4px;
  color:#5e493a;
  position: fixed;
  top: 5%;
  left: 5%;
  right: 10%;
  text-align: center;
  margin: 0 auto;
  z-index: 100;

}

#ferme {
  text-align: right;
  cursor: pointer;
}

#modal p {
  font-size: 13px;
}

#modal2 {
  background: #fff;
  width: 90%;
  padding: 20px;
  border-radius: 4px;
  color:#5e493a;
  position: fixed;
  top: 5%;
  left: 5%;
  right: 10%;
  text-align: center;
  margin: 0 auto;
  z-index: 100;
}

#mask2 {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal2 p {
  font-size: 13px;
}

#ferme2 {
  text-align: right;
  cursor: pointer;
}



@media screen and (max-width: 900px) {
  #next {
    width: 50px;
    height: 50px;
  }

  #video-intro {
    height: 700px;
  }

  .description-meal {
    display: block;
  }

  .description-meal h2 {
    font-size: 40px;
  }

  .description-meal p {
    font-size: 15px;
  }

  .description-meal iframe {
      width: 305px;
      height: 292px;
  }

  #desc1, #desc2{
    width: 90%;
  }

  .buttons {
    width: 300px;
  }

  #video-milmeyon {
    margin-top: 100px;
    position: relative;
    bottom: -300px;
  }

  #autre-plat {
    margin-top: 250px;
  }

  .card {
    width: 70%;
  }

  .inner_part .img {
    height: 160px;
    width: 160px;

  } 

  .content .title {
    font-size: 20px;
    margin: 0 0 10px 0;
  }

  .content {
    padding: 0 20px 0 35px;
    width: 230px;
  }

  .content .text {
    font-size: 15px;
    color: #4e4a67;
    line-height: 1.5em;
    text-align: left;
  }

  .content button {
    padding: 5px 10px;
    border: none;
    font-size: 13px;
    color: #fff0e6;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    background: #000000;
    float: right;
    line-height: 20%;
    position: relative;
    top: -20px;
  }

  #fiche-technique {
    margin-left: 0;
  }
}

@media screen and (max-width: 600px) {
  #next {
    width: 40px;
    height: 40px;
  }

  #fh5co-sayings {
    display: none;
  }

  .choix  {
    display: flex;
    flex-wrap: wrap;
    width: 10%;
    gap: 10px;
    --b: 2px;   /* the border thickness */
    --h: 3em; /* the height */
    margin-left: 0;
    margin-top: 10px;
  }

  #video-intro {
    height: 700px;
  }

  .description-meal {
    display: block;
  }

  #desc1, #desc2{
    width: 90%;
  }

  #desc2 {
    margin-top: 40px;
  }
  
  .description-meal iframe {
    width: 400px; 
    height: 389px;
  }
  
  .description-meal p {
    color: #a99c92;
    font-size: 20px;
  }

  h1 {
    font-size: 50px;
  }
  
  #video-milmeyon {
    position: relative;
    bottom: -400px;
  }

  #autre-plat {
    padding-bottom: 150px;
  }

  .card {
    width: 70%;
  }

  #modal {
    background: #fff;
    width: 90%;
    padding: 10px;
    border-radius: 4px;
    color:#5e493a;
    position: fixed;
    top: 0;
    left: 5%;
    right: 10%;
    text-align: center;
    margin: 0 0;
    z-index: 100;
  
  }

  #modal2 {
    background: #fff;
    width: 90%;
    padding: 10px;
    border-radius: 4px;
    color:#5e493a;
    position: fixed;
    top: 0;
    left: 5%;
    right: 10%;
    text-align: center;
    margin: 0 0;
    z-index: 100;
  
  }


  .inner_part .img {
    height: 160px;
    width: 160px;

  } 

  .content .title {
    font-size: 18px;
    margin: 0 0 5px 0;
  }

  .inner_part {
    width: 100%;
  }

  .content {
    padding: 0 5px 0 15px;
    width: 80%;
    position: relative;
    top: 250px;
    line-height: 20px;
    left : -160px;
  }

  .inner_part .img {
    width: 200px;
    height: 200px;
  }

  .content .text {
   display: none;
  }

  .content button {
    padding: 20px 20px;
    width: 200px;
    border: none;
    font-size: 13px;
    color: #fff0e6;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    background: #000000;
    float: right;
    line-height: 10%;
    position: relative;
    top: 20px;
  }
}



@media screen and (max-width: 400px) {
  #next {
    width: 30px;
    height: 30px;
  }

  .description-meal {
    display: block;
  }

  #desc1, #desc2{
    width: 90%;
  }

  .description-meal h2 {
    font-size: 15px;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 1px;
  }

  .description-meal p {
    font-size: 15px;
  }

  .description-meal iframe {
      width: 305px;
      height: 292px;
      
  }

  h1 {
    font-size: 30px;
  }

  

}


